<!DOCTYPE HTML>

<!--
    Matthew Chan (PM), Hannah Fried, Coby Sontag, Jionghao Wu [Team SOS]
    SoftDev1 pd2
    P00 -- Da Art of Storytellin'
    2019-10-28
-->
<!-- A basic html template with Jinja blocks -->


<html>
    <head>
        {% block header %}
            <title>
                Smallpox Stories :: {% block title %}Title{% endblock %}
            </title>
        {% endblock %}
    </head>
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/{% block stylesheet %}style.css{% endblock %}"
    >
      <!-- (
              i know thats a cursed way of using blocks
              but this enforces that all css files are in the right folder
              and makes typos in the link tag less likely
          )
      -->

    <body>
      <p id="header-title">Smallpox Stories</p>
      <p id="tagline-text">Pass it Around!</p>
        <hr>
        <br>

        <H1>
            {% block pageTitle %}
              Page Title
            {% endblock %}
        </H1>

        {% block content %}
          Content
        {% endblock %}

        <footer>
          {% block footer %}
          COPYRIGHT &copy; 2019 Smallpox Stories<br>
          <br />
	  Team SOS - Matthew Chan, Hannah Fried, Coby Sontag, Jionghao Wu<br />
	  Softdev1 pd2<br />
	  P00 -- Da Art of Storytellin'<br />
	  2019-10-25<br />
	  <br />
	  Styling by Whiskers - Clement Chan, Kiran Vuksanaj<br />
	  Softdev1 pd1<br />
	  K21 -- Da Art of Stylin'<br />
	  2019-11-03<br />
          {% endblock %}
        </footer>
    </body>
</html>
