{% extends "base.html" %}

{% block title %}
Smallpox Stories
{% endblock %}

{% block content %}
welcome, {{user}}

<H3>
{% set msgs = get_flashed_messages() %}
{% for msg in msgs %}
	{{ msg }}
{% endfor %}
</H3>

<form action = "/home", method = "GET">
		<input type = "submit" name = "sub1" value = "Home">
</form>

<form action = "/login", method = "GET">
		<input type = "submit" name = "sub2" value = "Logout">
</form>

	<form action = "/contribute", method = "GET">
	{% for titles in Stories %}
      	<input type = "submit" name=subCoby value = titles>
    {% endfor %}
    </form>

{% endblock %}
