{% extends "base.html" %}
{% block title %}
    {{title}}
{% endblock %}

{% block content %}
{{title}}
welcome, {{user}}

<H3>
{% set msgs = get_flashed_messages() %}
{% for msg in msgs %}
	{{ msg }}
{% endfor %}
</H3>

<form action = "/contribute/add", method = "POST">
    Content: <br>
    <input type="hidden" name="title" value={{title}}>
    <textarea rows="10" cols="50" maxlength = "300" name = "text"></textarea><br>
    Text Limit: 300 characters<br>
    <input type = "submit" name = "sub1" value = "Submit"><br>
</form>

<form action ="/browse">
    <input type = "submit" name = "sub2" value = "Cancel"><br>
</form>

{% endblock %}
