{% extends "base.html" %}

{% block title %}
Creating a New Story
{% endblock %}

{% block content %}
<H3>
{% set msgs = get_flashed_messages() %}
{% for msg in msgs %}
	{{ msg }}
{% endfor %}
</H3>

<form action = "/contribute", method = "POST">
    Title of story: <br>
    <textarea rows="1" cols="50"></textarea> <br>
    Content: <br>
    <textarea rows="20" cols="50"></textarea><br>
    <input type = "submit" name = "submit" value = "Submit">
</form>

<form action = "/home", method = "GET">
    <input type = "submit" name = "cancel" value = "Cancel">
</form>

  {% endblock %}
