{% extends "base.html" %}

{% block title %}
Smallpox Stories
{% endblock %}

{% block content %}
WELCOME {{user}} !!!

{% set msgs = get_flashed_messages() %}
{% for msg in msgs %}
	{{ msg }}
{% endfor %}

<form action="/login", method = "GET">
	<input type="submit" name="sub1" value="Logout" > <br>
</form>

<form action="/create", method = "GET">
	<input type="submit" name="sub2" value="Creat a New Story" > <br>
</form>

<form action="/browse", method = "GET">
	<input type="submit" name="sub3" value="Browse Stories" > <br>
</form>

{% endblock %}
