<!--
    Matthew Chan (PM), Hannah Fried, Coby Sontag, Jionghao Wu [Team SOS]
    SoftDev1 pd2
    P00 -- Da Art of Storytellin'
    2019-10-28
-->
<!-- Login Page utilizing base.html Jinja blocks -->

{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block pageTitle %}
    Login
{% endblock %}

{% block content %}
<H3>
{% set msgs = get_flashed_messages() %}
{% for msg in msgs %}
<i>
    Error: {{ msg }}
</i>
{% endfor %}
</H3>

<form action = "/login/authenticate", method = "POST">
    <input type = "text" name = "username" placeholder = "username"> <br>
    <input type = "password" name = "password" placeholder = "password"> <br>
    <input type = "submit" name = "sub" value = "login"> <br>
</form>
<br>
<form action = "/register", method = "GET">
	<input type = "submit" name = "sub1" value = "Register A New Account">
</form>

{% endblock %}
